/* header style */
/* div {
  border: red solid 2px;
} */
.nav-wrapper {
  background-color: #1976d2;
  font-weight: 150;
  height: 50px;
  padding-top: 5px;
  /* checking part */
  /* width: 100px; */
  /* object-fit: contain; */
  /* margin: 0 20px; */
  /* margin-top: 10px; */
  align-items: center;
  /* position: sticky; */
  top:0;
  z-index: 100;
}
.logo-style {
  color: #fff;
  font-size: 16px;
}
.navbar {
  height: 35px;
  font-size: 13px;
}
.style-size a {
  margin-right: 10px;
}
.navbar-collapse {
  height: 40px;
}
.nav-wrapper ul li a {
  color: #fff;
}
.logIn {
  padding-left: 50px;
}
.navbar-toggler {
  color: #fff;
  /* background-color: #1976d2; */
}
.nav-item {
  text-align: left !important;
  /* padding-bottom: 5px; */
  padding-top: 10px;
}

/* media query */
@media (max-width: 720px) {
  .logo-style {
    font-size: 16px;
    text-align: center;
    padding-top: 5px;
  }
  .nav-item {
    background-color: #1976d2;
    padding-left: 10px;
   
     
    
  }

  .logIn {
    display: none;
  }
}
@media (min-width: 768) {
  .logo-style {
    padding-bottom: 20px;
    padding-right: 60px;
  }
}
